page-about {
    .aboutstyle li {
        margin: 15px -25px;
    }
    .mftitle {
        margin-bottom: 20px;
        color: #1772C0;
        font-size: 30px;
    }
    .aboutstyle {
        width: 98%;
        margin: 0 auto;
    }
}
